<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="Information page about the UPF Skynote expression experiment.">
  <meta name="google" content="notranslate" />
  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link href="/static/favicon.ico" type="image/png" rel="icon">

  <title>SkyNote – Mejorando la práctica de la expresividad musical</title>

  <link href="/static/main.css" rel="stylesheet">
  <link href="/static/overwrites.css" rel="stylesheet">
</head>

<body>
<header>
  <nav class="navbar navbar-default active">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Navegación</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="https://www.upf.edu/web/mtg/" title="">
          <img src="/static/images/MTG_RGB_logo-02_white.svg" class="navbar-logo-img" alt="UPF – Music Technology Group">
        </a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/" title="">English</a></li>
          <li>
            <p>
              <a href="#take_part" class="btn btn-default navbar-btn" title="">Participe</a>
            </p>
          </li>

        </ul>
      </div> 
    </div>
  </nav>
</header>

<!-- Add your site or app content here -->
  <div class="hero-full-container background-image-container white-text-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>SkyNote</h1>
          <p>Mejorando la práctica de la expresividad musical</p>
          <!-- <br>
          <a href="./project.html" class="btn btn-default btn-lg" title="">Discover</a> -->
        </div>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <div class="text-center">
            <h2>Sobre el experimento</h2>
            <p class="text-left">
              SkyNote es un asistente de aprendizaje inteligente para músicos, desarrollado en Universitat Pompeu Fabra como parte del proyecto <a href="https://telmi.upf.edu">TELMI</a>. Ha sido diseñado para utilizar tecnologías de detección innovadoras que analizan el movimiento y el sonido de los artistas en tiempo real, ofreciéndoles herramientas para detectar y corregir errores, desenvolver conciencia de su técnica, y practicar con más eficiencia. </p>
            <p class="text-left">
              Ahora ha llegado el momento de dar el siguiente paso, investigando si la tecnología puede ayudar a los músicos a trabajar en sus habilidades de actuación expresiva.</p>
            <p class="text-left">
              Durante los meses de junio y julio, en el campus Poblenou de la UPF en Barcelona, trabajaremos junto a violinistas para determinar que tan efectivo puede ser SkyNote en el rol de asistente a la práctica de expresividad musical.</p>
            <p class="text-left">
              Si usted tiene 18 años o más y sabe tocar el violín, le invitamos a participar en este experimento. Para hacerlo, proporcione sus informaciones abajo y nosotros nos pondremos en contacto. ¡Gracias por mostrar su interés en formar el futuro de la educación musical!</p>
            <br/>
            <h4 class="text-left">¿Qué sucederá si decido participar?</h4>
            <p class="text-left">
              En la condición de participante de este experimento, se le pedirá que venga a la UPF en un día de su elección, en el cual le instruiremos a practicar su expresión musical con ejercicios específicos. El diagrama abajo sugiere la estructura básica del experimento. Basados en las respuestas y comentarios de los participantes, así como en mediciones coleccionadas a partir de las grabaciones de audio, podremos determinar el impacto que tiene SkyNote en la práctica de la actuación expresiva.</p>
            
            <img class="block-img" style="width: 400px" src="/static/images/expstructure.png"/>
            
            <p class="text-left">
                Un investigador de nuestro grupo le acompañará durante todo el proceso, dando instrucciones y aclarando las dudas que puedan surgir.
            </p>
          </div>
       </div>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="container" style="height:750px">
      <div class="row section-container-spacer">
        <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
          <h2>Preguntas</h2>
        </div>  
      </div>
      <div class="row">      
          <div class="col-xs-12">


            <div id="carousel-example-generic" class="carousel carousel-fade slide" data-ride="carousel">
                
                <div class="carousel-inner" role="listbox">

                    <div class="item active">
                        <img class="img-responsive" src="/static/images/alf.png">
                        <div class="carousel-caption card-shadow reveal">
                          
                          <h3>¿Cuánto tiempo dura el experimento?</h3>
                          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            <span class="sr-only">Anterior</span>
                          </a>
                          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span class="sr-only">Siguiente</span>
                          </a>
                          <p>
                            El experimento total debe tomar alrededor de 1 hora.
                          </p>
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-responsive" src="/static/images/mocap.png">
                        <div class="carousel-caption card-shadow reveal">

                          <h3>¿Hay riesgos/beneficios en participar?</h3>
                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                              <i class="fa fa-chevron-left" aria-hidden="true"></i>
                              <span class="sr-only">Anterior</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                              <i class="fa fa-chevron-right" aria-hidden="true"></i>
                              <span class="sr-only">Siguiente</span>
                            </a>
                          <p>
                            No hay riesgos previsibles en participar. Como medidas de prevención contra la COVID-19, todo el material será higienizado antes del inicio de cada sesión, a todas las personas involucradas se les exigirá el uso continuo de mascarilla, y a la sala usada para el experimento se la dejará vacía entre cada actividad para la máxima circulación de aire.

                            Desafortunadamente, en el presente momento nos vemos incapazes de recompensar su participación, pero esperamos hacerla lo más entretenida e instructiva posible.
                          </p>
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-responsive" src="/static/images/telmiviolin.png">
                        <div class="carousel-caption card-shadow reveal">

                          <h3>¿Se mantendrá la confidencialidad de mi participación en este proyecto?</h3>
                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                              <i class="fa fa-chevron-left" aria-hidden="true"></i>
                              <span class="sr-only">Anterior</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                              <i class="fa fa-chevron-right" aria-hidden="true"></i>
                              <span class="sr-only">Siguiente</span>
                            </a>
                          <p>
                            Sí. Todas las grabaciones así como datos escritos serán almacenados de manera anónima. Aunque grabaciones de audio sin información identificable puedan ser mostradas al público o usadas por otros violinistas en el experimento, nunca expondremos datos que puedan ser usados para identificarle a usted sin su autorización expresa.
                          </p>
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-responsive" src="/static/images/skynotescreen.jpg">
                        <div class="carousel-caption card-shadow reveal">

                          <h3>¿Qué va a ocurrir con los resultados del proyecto de investigación?</h3>
                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                              <i class="fa fa-chevron-left" aria-hidden="true"></i>
                              <span class="sr-only">Anterior</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                              <i class="fa fa-chevron-right" aria-hidden="true"></i>
                              <span class="sr-only">Siguiente</span>
                            </a>
                          <p>
                            Los datos serán presentados en conferencias nacionales e internacionales así como en periódicos académicos. Toda la información sobre los participantes permanecerá anónima. Datos recolectados pueden ser usados para investigaciones adicionales o subsecuentes. Si le interesa saber más sobre nuestros resultados, puede contactar el equipo a cualquier momento.
                          </p>
                        </div>
                    </div>
                </div>
               
            </div>

           
          </div>
          
        </div>  
      
    </div>
  </div>

  <div class="section-container">
    <div class="container text-center">
      <div class="row section-container-spacer">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <h2>Equipo</h2>
          <p> No deje de contactarnos para más informaciones. </p>
        </div>  
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <img src="/static/images/Fabio.jpg" alt="" class="reveal img-responsive reveal-content image-center">
          <h4>Fábio Ortega</h4>
          <h6>Investigador</h6>
          <p>fabiojose.muneratti@upf.edu</p>
          <!-- <p>
            <a href="https://facebook.com/" class="social-round-icon fa-icon" title="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/" class="social-round-icon fa-icon" title="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://www.linkedin.com/" class="social-round-icon fa-icon" title="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </p> -->
        </div>
       
        <div class="col-xs-12 col-md-6">
          <img src="/static/images/Rafael.png" alt="" class="reveal img-responsive reveal-content image-center">
          <h4>Rafael Ramírez</h4>
          <h6>Director del Grupo</h6>
          <p>rafael.ramirez@upf.edu</p>
          <!-- <p>
            <a href="https://facebook.com/" class="social-round-icon fa-icon" title="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/" class="social-round-icon fa-icon" title="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://www.linkedin.com/" class="social-round-icon fa-icon" title="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </p> -->
        </div>
      </div>
    </div>
  </div>
  <div class="section-container contact-container" id="take_part">
    <div class="container" style="padding-top: 20px;">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <div class="section-container-spacer">
            <h2 class="text-center">Participe</h2>
            <p class="text-center">Si le interesa participar, por favor rellena los campos con su nombre y correo electrónico y le contactaremos para concertar una cita.</p>
          </div>
          <div class="card-container">
            <div class="card card-shadow col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 reveal">
              <div class="row">
                <div class="col-md-12 ">
                    <div class="alert alert-danger" role="alert" id="response-message" style="display: none"></div>
                </div>
              </div> <!-- message -->
              <form id="contact-form" action="{{ url_for('contact') }}" class="reveal-content">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="text" class="form-control" id="name" name="name" placeholder="Nombre">
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                    </div>
                    <button type="button" onclick="take_part()" class="btn btn-primary">Enviar</button>
                  </div>
                </div>
              </form>
              <div class="row" id="response-thanks" style="display: none;">
                <div class="col-md-12 text-center">
                  <h3> 
                    Informaciones enviadas.<br/><br/>
                    Gracias por su apoyo a nuestro proyecto. 
                  </h3>
                </div>
              </div> <!-- response-thanks -->
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    navbarFixedTopAnimation();
  });
</script>

<footer class="footer-container white-text-container">
  <div class="container">
    <div class="row">

     
      <div class="col-xs-12">
        <h3>Agradecimientos</h3>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <br/>
            <p style="font-size: 11px; line-height: 1.3;"><img style="float: left; margin-right: 15px;" src="/static/images/flag_yellow_h60.jpg" alt="EU flag" width="90" height="60">Este proyecto ha recibido financiamiento del programa de investigación e innovación de la Unión Europea Horizon 2020 bajo el acuerdo de otorga No 688269</p>
            <br/>
            <p>
              <small>Página web creada con <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a></small>
            </p>
          </div>
          <!-- <div class="col-xs-12 col-sm-4"></div>
          <div class="col-xs-12 col-sm-4">
            <img src="/static/images/telmitransp.png" width="180">
          </div> -->
          <!-- <div class="col-xs-12 col-sm-5">
              <a href="https://facebook.com/" class="social-round-icon white-round-icon fa-icon" title="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="https://twitter.com/" class="social-round-icon white-round-icon fa-icon" title="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="https://www.linkedin.com/" class="social-round-icon white-round-icon fa-icon" title="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    navActivePage();
    scrollRevelation('.reveal');
  });
</script>

<script type="text/javascript" src="/static/main.js"></script>
<script type="text/javascript" src="/static/controller.js"></script></body>

</html>