<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="Information page about the UPF Skynote expression experiment.">
  <meta name="google" content="notranslate" />
  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link href="/static/favicon.ico" type="image/png" rel="icon">

  <title>SkyNote – Improving the practice of musical expression</title>

  <link href="/static/main.css" rel="stylesheet">
  <link href="/static/overwrites.css" rel="stylesheet">
</head>

<body>
<header>
  <nav class="navbar navbar-default active">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="https://www.upf.edu/web/mtg/" title="">
          <img src="/static/images/MTG_RGB_logo-02_white.svg" class="navbar-logo-img" alt="UPF – Music Technology Group">
        </a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/es/" title="">Español</a></li>
          <!-- <li>
            <p>
              <a href="#take_part" class="btn btn-default navbar-btn" title="">Take Part</a>
            </p>
          </li> -->
        </ul>
      </div> 
    </div>
  </nav>
</header>
<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
            <h2>Participant Information</h2>
            <p class="text-left">
                Please complete the following information:
            </p>
            <form action="{{ url_for('form_submit') }}"" class="text-left" method="POST">
                <label for="age"><h4>1. Age: </h4></label>
                <input class="form-control" type="number" name="age" min="18" max="120" required/><br />
                <label for="gender"><h4>2. Gender: </h4></label>
                <div class="input-group">
                    <label><input type="radio" name="gender" value="u" required/>&nbsp;&nbsp;Unspecified</label>
                    <label><input type="radio" name="gender" value="m" required/>&nbsp;&nbsp;Male</label>
                    <label><input type="radio" name="gender" value="f" required/>&nbsp;&nbsp;Female</label>
                </div>
                <label for="years_study"><h4>3. For how many years have you studied violin? </h4></label>
                <input class="form-control" type="number" name="years_study" min="0" max="100" required/><br />
                <label for="hours_practice"><h4>4. For approximately how many hours do you practice on a typical day?</h4></label>
                <input class="form-control" type="number" name="hours_practice" min="0" max="24" required/><br/>
                <label for="one_to_one_lessons"><h4>5. Have you taken one-to-one violin lessons?</h4></label><br/>
                <div class="input-group">
                    <label><input type="radio" name="one_to_one_lessons" value="y" required/>&nbsp;&nbsp;Yes</label>
                    <label><input type="radio" name="one_to_one_lessons" value="n" required/>&nbsp;&nbsp;No</label>
                </div>
                <label for="if_lessons_years"><h4>If yes, how many years? If no, please enter "0" </h4></label>
                <input class="form-control" type="number" name="if_lessons_years" min="0" max="100" required/><br />
                <label for="musical_genre"><h4>6. What is the primary musical genre you play?</h4></label><br/>
                <div class="input-group">
                    <label><input type="radio" name="musical_genre" value="classical" required/>&nbsp;&nbsp;Classical</label><br/>
                    <label><input type="radio" name="musical_genre" value="jazz" required/>&nbsp;&nbsp;Jazz</label><br />
                    <label><input type="radio" name="musical_genre" value="pop" required/>&nbsp;&nbsp;Pop</label><br/>
                    <label><input type="radio" name="musical_genre" value="rock" required/>&nbsp;&nbsp;Rock</label><br />
                    <label><input type="radio" name="musical_genre" value="electronic" required/>&nbsp;&nbsp;Dance/Electronic</label><br/>
                    <label><input type="radio" name="musical_genre" value="rap" required/>&nbsp;&nbsp;Rap/Hip-Hop</label><br/>
                    <label><input type="radio" name="musical_genre" value="traditional" required/>&nbsp;&nbsp;Traditional/Folk</label><br/>
                    <label><input type="radio" name="musical_genre" value="other" required/>&nbsp;&nbsp;Other</label><br />
                </div>
                <label for="musical_activity"><h4>7. Which option best describes your musical activity?</h4></label><br>
                <div class="form-group">
                    <label><input type="radio" name="musical_activity" value="amateur" required/>&nbsp;&nbsp;Amateur</label><br/>
                    <label><input type="radio" name="musical_activity" value="student_school" required/>&nbsp;&nbsp;Student: secondary school</label><br />
                    <label><input type="radio" name="musical_activity" value="student_undergrad" required/>&nbsp;&nbsp;Student: undergraduate</label><br/>
                    <label><input type="radio" name="musical_activity" value="student_postgrad" required/>&nbsp;&nbsp;Student: postgraduate</label><br />
                    <label><input type="radio" name="musical_activity" value="professional" required/>&nbsp;&nbsp;Professional</label><br/>
                </div>
                <label for="plays_reading"><h4>8. How often do you play while reading from a score?</h4></label><br/>
                <div class="form-group">
                    <label><input type="radio" name="plays_reading" value="1" required/>&nbsp;&nbsp;Never/Hardly ever</label><br>
                    <label><input type="radio" name="plays_reading" value="2" required/>&nbsp;&nbsp;Seldom </label><br/>
                    <label><input type="radio" name="plays_reading" value="3" required/>&nbsp;&nbsp;Sometimes</label><br/>
                    <label><input type="radio" name="plays_reading" value="4" required/>&nbsp;&nbsp;Very often</label><br />
                    <label><input type="radio" name="plays_reading" value="5" required/>&nbsp;&nbsp;Nearly always/Always</label><br />
                </div>
                <br>
                <label for="practice_exp"><h4>9. How often do you practice your expressive performance skills?</h4></label><br>
                <div class="form-group">
                    <label><input type="radio" name="practice_exp" value="1" required/>&nbsp;&nbsp;Never/Hardly ever</label><br>
                    <label><input type="radio" name="practice_exp" value="2" required/>&nbsp;&nbsp;Seldom</label><br/>
                    <label><input type="radio" name="practice_exp" value="3" required/>&nbsp;&nbsp;Sometimes</label><br/>
                    <label><input type="radio" name="practice_exp" value="4" required/>&nbsp;&nbsp;Very often</label><br />
                    <label><input type="radio" name="practice_exp" value="5" required/>&nbsp;&nbsp;Nearly always/Always</label><br />
                </div>
                <br>
                <input type="submit" class="btn btn-primary" value="Next">
            </form>
        </div> <!-- col -->
      </div> <!-- row -->
    </div> <!-- container -->
</div>
</body>
</html>