
<div class="row reveal-content">
  <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
      <h2>{{locale['row1_h2']}}</h2>
      <p class="text-left">
          {{locale['row1_p1']}}<strong>{{ exercise }}</strong>{{locale['row1_p2']}}
      </p>
      <form action="{{ url_for('xp_data') }}" onsubmit="fetch_step(event)" id="survey-form" class="text-left" method="POST">
        <div class="row">
          <div class="col-xs-12 col-md-5">
            <label for="change_to"><h4>{{locale['label0']}}</h4></label>
          </div>
          <select class="input-group radio-group" name="change_to">
              <option value="Amin">{{locale['Amin']}}</option>
              <option value="Gmaj">{{locale['Gmaj']}}</option>
              <option value="greensleeves">Greensleeves</option>
              <option value="manha">Manhã de Carnaval</option>
              <option value="meditation">Méditation (Thaïs)</option>
              <option value="nuages">Nuages</option>
              <option value="salut">Salut d'Amour</option>
              <option value="twinkle">Twinkle Twinkle Little Star</option>
          </select>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-5">
            <label for="pre_quality"><h4>{{locale['label1']}}</h4></label>
          </div>
          <div class="input-group radio-group col-xs-12 col-md-7">
              <label><input type="radio" name="pre_quality" value="1" required/>&nbsp;&nbsp;1</label>
              <label><input type="radio" name="pre_quality" value="2" required/>&nbsp;&nbsp;2</label>
              <label><input type="radio" name="pre_quality" value="3" required/>&nbsp;&nbsp;3</label>
              <label><input type="radio" name="pre_quality" value="4" required/>&nbsp;&nbsp;4</label>
              <label><input type="radio" name="pre_quality" value="5" required/>&nbsp;&nbsp;5</label>
              <label><input type="radio" name="pre_quality" value="6" required/>&nbsp;&nbsp;6</label>
              <label><input type="radio" name="pre_quality" value="7" required/>&nbsp;&nbsp;7</label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-5">
            <label for="pre_technical"><h4>{{locale['label2']}}</h4></label>
          </div>
          <div class="input-group radio-group col-xs-12 col-md-7">
              <label><input type="radio" name="pre_technical" value="1" required/>&nbsp;&nbsp;1</label>
              <label><input type="radio" name="pre_technical" value="2" required/>&nbsp;&nbsp;2</label>
              <label><input type="radio" name="pre_technical" value="3" required/>&nbsp;&nbsp;3</label>
              <label><input type="radio" name="pre_technical" value="4" required/>&nbsp;&nbsp;4</label>
              <label><input type="radio" name="pre_technical" value="5" required/>&nbsp;&nbsp;5</label>
              <label><input type="radio" name="pre_technical" value="6" required/>&nbsp;&nbsp;6</label>
              <label><input type="radio" name="pre_technical" value="7" required/>&nbsp;&nbsp;7</label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-5">
            <label for="pre_musicality"><h4>{{locale['label3']}}</h4></label>
          </div>
          <div class="input-group radio-group col-xs-12 col-md-7">
              <label><input type="radio" name="pre_musicality" value="1" required/>&nbsp;&nbsp;1</label>
              <label><input type="radio" name="pre_musicality" value="2" required/>&nbsp;&nbsp;2</label>
              <label><input type="radio" name="pre_musicality" value="3" required/>&nbsp;&nbsp;3</label>
              <label><input type="radio" name="pre_musicality" value="4" required/>&nbsp;&nbsp;4</label>
              <label><input type="radio" name="pre_musicality" value="5" required/>&nbsp;&nbsp;5</label>
              <label><input type="radio" name="pre_musicality" value="6" required/>&nbsp;&nbsp;6</label>
              <label><input type="radio" name="pre_musicality" value="7" required/>&nbsp;&nbsp;7</label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-5">
            <label for="pre_note"><h4>{{locale['label4']}}</h4></label>
          </div>
          <div class="input-group radio-group col-xs-12 col-md-7">
              <label><input type="radio" name="pre_note" value="1" required/>&nbsp;&nbsp;1</label>
              <label><input type="radio" name="pre_note" value="2" required/>&nbsp;&nbsp;2</label>
              <label><input type="radio" name="pre_note" value="3" required/>&nbsp;&nbsp;3</label>
              <label><input type="radio" name="pre_note" value="4" required/>&nbsp;&nbsp;4</label>
              <label><input type="radio" name="pre_note" value="5" required/>&nbsp;&nbsp;5</label>
              <label><input type="radio" name="pre_note" value="6" required/>&nbsp;&nbsp;6</label>
              <label><input type="radio" name="pre_note" value="7" required/>&nbsp;&nbsp;7</label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-5">
            <label for="pre_rhythm"><h4>{{locale['label5']}}</h4></label>
          </div>
          <div class="input-group radio-group col-xs-12 col-md-7">
              <label><input type="radio" name="pre_rhythm" value="1" required/>&nbsp;&nbsp;1</label>
              <label><input type="radio" name="pre_rhythm" value="2" required/>&nbsp;&nbsp;2</label>
              <label><input type="radio" name="pre_rhythm" value="3" required/>&nbsp;&nbsp;3</label>
              <label><input type="radio" name="pre_rhythm" value="4" required/>&nbsp;&nbsp;4</label>
              <label><input type="radio" name="pre_rhythm" value="5" required/>&nbsp;&nbsp;5</label>
              <label><input type="radio" name="pre_rhythm" value="6" required/>&nbsp;&nbsp;6</label>
              <label><input type="radio" name="pre_rhythm" value="7" required/>&nbsp;&nbsp;7</label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-5">
            <label for="pre_tone"><h4>{{locale['label6']}}</h4></label>
          </div>
          <div class="input-group radio-group col-xs-12 col-md-7">
              <label><input type="radio" name="pre_tone" value="1" required/>&nbsp;&nbsp;1</label>
              <label><input type="radio" name="pre_tone" value="2" required/>&nbsp;&nbsp;2</label>
              <label><input type="radio" name="pre_tone" value="3" required/>&nbsp;&nbsp;3</label>
              <label><input type="radio" name="pre_tone" value="4" required/>&nbsp;&nbsp;4</label>
              <label><input type="radio" name="pre_tone" value="5" required/>&nbsp;&nbsp;5</label>
              <label><input type="radio" name="pre_tone" value="6" required/>&nbsp;&nbsp;6</label>
              <label><input type="radio" name="pre_tone" value="7" required/>&nbsp;&nbsp;7</label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-5">
            <label for="pre_dyn"><h4>{{locale['label7']}}</h4></label>
          </div>
          <div class="input-group radio-group col-xs-12 col-md-7">
              <label><input type="radio" name="pre_dyn" value="1" required/>&nbsp;&nbsp;1</label>
              <label><input type="radio" name="pre_dyn" value="2" required/>&nbsp;&nbsp;2</label>
              <label><input type="radio" name="pre_dyn" value="3" required/>&nbsp;&nbsp;3</label>
              <label><input type="radio" name="pre_dyn" value="4" required/>&nbsp;&nbsp;4</label>
              <label><input type="radio" name="pre_dyn" value="5" required/>&nbsp;&nbsp;5</label>
              <label><input type="radio" name="pre_dyn" value="6" required/>&nbsp;&nbsp;6</label>
              <label><input type="radio" name="pre_dyn" value="7" required/>&nbsp;&nbsp;7</label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-5">
            <label for="pre_art"><h4>{{locale['label8']}}</h4></label>
          </div>
          <div class="input-group radio-group col-xs-12 col-md-7">
              <label><input type="radio" name="pre_art" value="1" required/>&nbsp;&nbsp;1</label>
              <label><input type="radio" name="pre_art" value="2" required/>&nbsp;&nbsp;2</label>
              <label><input type="radio" name="pre_art" value="3" required/>&nbsp;&nbsp;3</label>
              <label><input type="radio" name="pre_art" value="4" required/>&nbsp;&nbsp;4</label>
              <label><input type="radio" name="pre_art" value="5" required/>&nbsp;&nbsp;5</label>
              <label><input type="radio" name="pre_art" value="6" required/>&nbsp;&nbsp;6</label>
              <label><input type="radio" name="pre_art" value="7" required/>&nbsp;&nbsp;7</label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-5">
            <label for="pre_improve"><h4>{{locale['label9']}}</h4></label>
          </div>
          <div class="input-group radio-group col-xs-12 col-md-7">
              <label><input type="radio" name="pre_improve" value="1" required/>&nbsp;&nbsp;1</label>
              <label><input type="radio" name="pre_improve" value="2" required/>&nbsp;&nbsp;2</label>
              <label><input type="radio" name="pre_improve" value="3" required/>&nbsp;&nbsp;3</label>
              <label><input type="radio" name="pre_improve" value="4" required/>&nbsp;&nbsp;4</label>
              <label><input type="radio" name="pre_improve" value="5" required/>&nbsp;&nbsp;5</label>
              <label><input type="radio" name="pre_improve" value="6" required/>&nbsp;&nbsp;6</label>
              <label><input type="radio" name="pre_improve" value="7" required/>&nbsp;&nbsp;7</label>
          </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">{{locale['submitbtn']}}</button>
      </form>
  </div> <!-- col -->
</div> <!-- row -->