
<div class="row reveal-content">
  <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
      <h2>{{locale['row1_h2']}}</h2>
      <p class="text-left">
          {{locale['row1_p1']}}<strong>{{ exercise }}</strong>{{locale['row1_p2']}}
      </p>
      {% if mode == "tech" %}
      <p>
        {{locale['row1_p3']}}
      </p>
      {% endif %}
      <form action="{{ url_for('xp_data') }}" onsubmit="fetch_step(event)" id="survey-form" class="text-left" method="POST">
        <input type="hidden" name="ok" value="ok" />
        <button type="submit" class="btn btn-primary">{{locale['submitbtn']}}</button>
      </form>
  </div> <!-- col -->
</div> <!-- row -->