
<div class="row reveal-content">
  <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
      <h2>{{locale['row1_h2']}}</h2>
      <p class="text-left">
          {{locale['row1_p']}}
      </p>
      <form action="{{ url_for('xp_data') }}" onsubmit="fetch_step(event)" id="survey-form" class="text-left" method="POST">
        <div class="row">
          <div class="col-xs-12">
            <h4> {{locale['h4_1']}} </h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-5">
            <label for="learn_quickly"><h6>{{locale['label1']}}</h6></label>
          </div>
          <div class="input-group radio-group col-xs-12 col-md-7">
              <label><input type="radio" name="learn_quickly" value="1" required/>&nbsp;&nbsp;1</label>
              <label><input type="radio" name="learn_quickly" value="2" required/>&nbsp;&nbsp;2</label>
              <label><input type="radio" name="learn_quickly" value="3" required/>&nbsp;&nbsp;3</label>
              <label><input type="radio" name="learn_quickly" value="4" required/>&nbsp;&nbsp;4</label>
              <label><input type="radio" name="learn_quickly" value="5" required/>&nbsp;&nbsp;5</label>
              <label><input type="radio" name="learn_quickly" value="6" required/>&nbsp;&nbsp;6</label>
              <label><input type="radio" name="learn_quickly" value="7" required/>&nbsp;&nbsp;7</label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-5">
            <label for="performance"><h6>{{locale['label2']}}</h6></label>
          </div>
          <div class="input-group radio-group col-xs-12 col-md-7">
              <label><input type="radio" name="performance" value="1" required/>&nbsp;&nbsp;1</label>
              <label><input type="radio" name="performance" value="2" required/>&nbsp;&nbsp;2</label>
              <label><input type="radio" name="performance" value="3" required/>&nbsp;&nbsp;3</label>
              <label><input type="radio" name="performance" value="4" required/>&nbsp;&nbsp;4</label>
              <label><input type="radio" name="performance" value="5" required/>&nbsp;&nbsp;5</label>
              <label><input type="radio" name="performance" value="6" required/>&nbsp;&nbsp;6</label>
              <label><input type="radio" name="performance" value="7" required/>&nbsp;&nbsp;7</label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-5">
            <label for="easier_practice"><h6>{{locale['label3']}}</h6></label>
          </div>
          <div class="input-group radio-group col-xs-12 col-md-7">
              <label><input type="radio" name="easier_practice" value="1" required/>&nbsp;&nbsp;1</label>
              <label><input type="radio" name="easier_practice" value="2" required/>&nbsp;&nbsp;2</label>
              <label><input type="radio" name="easier_practice" value="3" required/>&nbsp;&nbsp;3</label>
              <label><input type="radio" name="easier_practice" value="4" required/>&nbsp;&nbsp;4</label>
              <label><input type="radio" name="easier_practice" value="5" required/>&nbsp;&nbsp;5</label>
              <label><input type="radio" name="easier_practice" value="6" required/>&nbsp;&nbsp;6</label>
              <label><input type="radio" name="easier_practice" value="7" required/>&nbsp;&nbsp;7</label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-5">
            <label for="what_want"><h6>{{locale['label4']}}</h6></label>
          </div>
          <div class="input-group radio-group col-xs-12 col-md-7">
              <label><input type="radio" name="what_want" value="1" required/>&nbsp;&nbsp;1</label>
              <label><input type="radio" name="what_want" value="2" required/>&nbsp;&nbsp;2</label>
              <label><input type="radio" name="what_want" value="3" required/>&nbsp;&nbsp;3</label>
              <label><input type="radio" name="what_want" value="4" required/>&nbsp;&nbsp;4</label>
              <label><input type="radio" name="what_want" value="5" required/>&nbsp;&nbsp;5</label>
              <label><input type="radio" name="what_want" value="6" required/>&nbsp;&nbsp;6</label>
              <label><input type="radio" name="what_want" value="7" required/>&nbsp;&nbsp;7</label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h4> {{locale['h4_2']}} </h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-5">
            <label for="useful"><h6>{{locale['label5']}}</h6></label>
          </div>
          <div class="input-group radio-group col-xs-12 col-md-7">
              <label><input type="radio" name="useful" value="1" required/>&nbsp;&nbsp;1</label>
              <label><input type="radio" name="useful" value="2" required/>&nbsp;&nbsp;2</label>
              <label><input type="radio" name="useful" value="3" required/>&nbsp;&nbsp;3</label>
              <label><input type="radio" name="useful" value="4" required/>&nbsp;&nbsp;4</label>
              <label><input type="radio" name="useful" value="5" required/>&nbsp;&nbsp;5</label>
              <label><input type="radio" name="useful" value="6" required/>&nbsp;&nbsp;6</label>
              <label><input type="radio" name="useful" value="7" required/>&nbsp;&nbsp;7</label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-5">
            <label for="easy_use"><h6>{{locale['label6']}}</h6></label>
          </div>
          <div class="input-group radio-group col-xs-12 col-md-7">
              <label><input type="radio" name="easy_use" value="1" required/>&nbsp;&nbsp;1</label>
              <label><input type="radio" name="easy_use" value="2" required/>&nbsp;&nbsp;2</label>
              <label><input type="radio" name="easy_use" value="3" required/>&nbsp;&nbsp;3</label>
              <label><input type="radio" name="easy_use" value="4" required/>&nbsp;&nbsp;4</label>
              <label><input type="radio" name="easy_use" value="5" required/>&nbsp;&nbsp;5</label>
              <label><input type="radio" name="easy_use" value="6" required/>&nbsp;&nbsp;6</label>
              <label><input type="radio" name="easy_use" value="7" required/>&nbsp;&nbsp;7</label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-5">
            <label for="accurate"><h6>{{locale['label7']}}</h6></label>
          </div>
          <div class="input-group radio-group col-xs-12 col-md-7">
              <label><input type="radio" name="accurate" value="1" required/>&nbsp;&nbsp;1</label>
              <label><input type="radio" name="accurate" value="2" required/>&nbsp;&nbsp;2</label>
              <label><input type="radio" name="accurate" value="3" required/>&nbsp;&nbsp;3</label>
              <label><input type="radio" name="accurate" value="4" required/>&nbsp;&nbsp;4</label>
              <label><input type="radio" name="accurate" value="5" required/>&nbsp;&nbsp;5</label>
              <label><input type="radio" name="accurate" value="6" required/>&nbsp;&nbsp;6</label>
              <label><input type="radio" name="accurate" value="7" required/>&nbsp;&nbsp;7</label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-5">
            <label for="use_again"><h6>{{locale['label8']}}</h6></label>
          </div>
          <div class="input-group radio-group col-xs-12 col-md-7">
              <label><input type="radio" name="use_again" value="1" required/>&nbsp;&nbsp;1</label>
              <label><input type="radio" name="use_again" value="2" required/>&nbsp;&nbsp;2</label>
              <label><input type="radio" name="use_again" value="3" required/>&nbsp;&nbsp;3</label>
              <label><input type="radio" name="use_again" value="4" required/>&nbsp;&nbsp;4</label>
              <label><input type="radio" name="use_again" value="5" required/>&nbsp;&nbsp;5</label>
              <label><input type="radio" name="use_again" value="6" required/>&nbsp;&nbsp;6</label>
              <label><input type="radio" name="use_again" value="7" required/>&nbsp;&nbsp;7</label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-5">
            <label for="recommend"><h6>{{locale['label9']}}</h6></label>
          </div>
          <div class="input-group radio-group col-xs-12 col-md-7">
              <label><input type="radio" name="recommend" value="1" required/>&nbsp;&nbsp;1</label>
              <label><input type="radio" name="recommend" value="2" required/>&nbsp;&nbsp;2</label>
              <label><input type="radio" name="recommend" value="3" required/>&nbsp;&nbsp;3</label>
              <label><input type="radio" name="recommend" value="4" required/>&nbsp;&nbsp;4</label>
              <label><input type="radio" name="recommend" value="5" required/>&nbsp;&nbsp;5</label>
              <label><input type="radio" name="recommend" value="6" required/>&nbsp;&nbsp;6</label>
              <label><input type="radio" name="recommend" value="7" required/>&nbsp;&nbsp;7</label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <label for="most_help"><h4>{{locale['h4_3']}}</h4></label>
          </div>
          <div class="form-group col-xs-12">
              <textarea class="form-control" rows="3" name="most_help"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <label for="weakness"><h4>{{locale['h4_4']}}</h4></label>
          </div>
          <div class="form-group col-xs-12">
              <textarea class="form-control" rows="3" name="weakness"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <label for="improve"><h4>{{locale['h4_5']}}</h4></label>
          </div>
          <div class="form-group col-xs-12">
              <textarea class="form-control" rows="3" name="improve"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <label for="other"><h4>{{locale['h4_6']}}</h4></label>
          </div>
          <div class="form-group col-xs-12">
              <textarea class="form-control" rows="3" name="other"></textarea>
          </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">{{locale['submitbtn']}}</button>
      </form>
  </div> <!-- col -->
</div> <!-- row -->